---
import { actions, isInputError } from "astro:actions";
import Layout from "../layouts/Layout.astro";

if (Astro.locals.session !== null && Astro.locals.user !== null) {
    return Astro.redirect("/");
}

const result = Astro.getActionResult(actions.login);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

<Layout title="Sign in">
    <main>
        <h1>Sign in</h1>

        <form method="POST" action={"/" + actions.login}>
            <label for="form-login.username">Username</label>
            <input
                transition:persist
                type="text"
                name="username"
                autocomplete="username"
                required
                aria-describedby="form-login.username-error"
            />
            {
                inputErrors.username && (
                    <p id="form-login.username-error">
                        {inputErrors.username.join(",")}
                    </p>
                )
            }

            <label for="form-login.password">Password</label>
            <input
                transition:persist
                type="password"
                name="password"
                autocomplete="current-password"
                required
                aria-describedby="form-login.password-error"
            />
            {
                inputErrors.password && (
                    <p id="form-login.password-error">
                        {inputErrors.password.join(",")}
                    </p>
                )
            }

            <button type="submit">Continue</button>

            {
                result?.error && (
                    <p id="form-login.error">
                        Unable to sign up. Please try again later.
                    </p>
                )
            }
        </form>

        <a href="/signup">Create an account</a>
        <a href="/forgot-password">Forgot password?</a>
    </main>


    <script>
      import { actions } from 'astro:actions';
      import { navigate } from 'astro:transitions/client';

      const form = document.querySelector('form');
      form?.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const { error } = await actions.login(formData);
        console.error(error);
        if (!error) navigate('/');
      })
    </script>
</Layout>
