---
import { actions } from "astro:actions";
import { capitaliseString } from "@lib/utils";
import type { Group } from "src/db/schema/auth";

const { pathname } = Astro.url;
const group = Astro.url.searchParams.get("group") as Group | null;

const possibleGroups = Astro.locals.user ? Astro.locals.user.groups : [];
---

<ul>
    <li>
        <a href="/" aria-current={pathname === "/" ? "page" : undefined}>Home</a
        >
    </li>

    <li>
        <a
            href="/wish-list"
            aria-current={pathname === "/wish-list" ? "page" : undefined}
        >
            Wish list
        </a>
    </li>

    <li>
        <a
            href="/ideas"
            aria-current={pathname === "/ideas" ? "page" : undefined}
        >
            Ideas
        </a>
    </li>

    {
        possibleGroups.length > 1 && (
            <li>
                {possibleGroups.map((g) => {
                    const href = Astro.url;
                    href.searchParams.set("group", g);

                    return (
                        <a
                            href={href}
                            aria-current={group === g ? "page" : undefined}
                        >
                            {capitaliseString(g)}
                        </a>
                    );
                })}
            </li>
        )
    }

    <li>
        <form method="POST" action={"/login" + actions.logout}>
            <button type="submit">Sign out</button>
        </form>
    </li>
</ul>