---
import { and, eq, sql } from "drizzle-orm";
import type { Group } from "src/db/schema/auth";
import ItemRow from "../../components/ItemRow.svelte";
import Menu from "../../components/Menu.astro";
import { db } from "../../db";
import { giftItems } from "../../db/schema/gift-item";
import Layout from "../../layouts/Layout.astro";

if (Astro.locals.user === null || Astro.locals.session === null) {
    return Astro.redirect("/login");
}

const group =
    (Astro.url.searchParams.get("group") as Group) ??
    Astro.locals.user.groups?.at(0);

const wishList = await db
    .select({
        id: giftItems.id,
        type: sql<"GIFT" | "IDEA" | "WISH">`'WISH'`.as("type"),
        name: giftItems.name,
        price: giftItems.price,
        notes: giftItems.notes,
        link: giftItems.link,
        recipientId: giftItems.recipientId,
        giftedById: giftItems.giftedById,
        groups: giftItems.groups,
    })
    .from(giftItems)
    .where(
        and(
            eq(giftItems.recipientId, Astro.locals.user.id),
            sql<boolean>`${giftItems.groups} ? ${group}`,
        ),
    );
---

<Layout title="Christmas">
    <Menu transition:persist />

    <main>
        <h1>Wish list</h1>

        <a href="wish-list/new">New</a>

        <ul>
            {wishList.map((i) => <ItemRow item={i} client:idle />)}
        </ul>
    </main>
</Layout>
